NEXT_PUBLIC_API_URL=https://d8ae57sdjk.execute-api.us-east-1.amazonaws.com
NEXT_PUBLIC_COGNITO_DOMAIN=https://cometranqui-duoc-2026.auth.us-east-1.amazoncognito.com
NEXT_PUBLIC_COGNITO_CLIENT_ID=6f7sgt9cri682felac9ddc706c
